/* 전체 페이지 스타일 */
body {
	font: bold 19px monospace, sans-serif;
	background-color: rgb(28, 235, 250);
  }
  
  /* 제목 스타일 */
  h3 {
	color: #00020a;
	margin-left: 30px;
  }
  
  /* 수평선 스타일 */
  hr {
	border: 15px solid #1f1625;
  }
  
  /* 입력 폼 스타일 */
  input,
  button {
	color: #000000;
	font-size: 15px;
  }
  
  /* 링크 스타일 */
  a {
	font-family: monospace;
	font-size: 18px;
	color: #39343f;
  }
  
  /* 텍스트 입력 폼 스타일 */
  input[type="text"] {
	background-color: rgb(53, 240, 193);
  }
  
  /* 패스워드 입력 폼 스타일 */
  input[type="password"] {
	background-color: rgb(226, 163, 202);
  }
  
  /* 박스 스타일 */
  div.box {
	background: rgb(191, 170, 230);
	border-style: solid;
	border-color: rgb(190, 155, 247);
	border-radius: 35px;
	width: 350px;
	height: 200px;
	margin: 100px auto;
	border-width: 1px;
	padding: 50px;
  }
  
  /* 박스 내부 스타일 */
  div.box-inner {
	border-color: peru;
	border-style: none;
	text-align: center;
	margin: 10px;
	padding: 10px;
  }
  
  /* 테이블 스타일 */
  table {
	border-collapse: collapse;
  }
  
  /* 셀 스타일 */
  td,
  th {
	text-align: left;
	padding: 5px;
	height: 15px;
	width: 100px;
  }
  
  /* 테이블 헤더와 푸터 스타일 */
  thead,
  tfoot {
	background: darkgray;
	color: yellow;
  }
  
  /* 짝수 행 스타일 */
  tbody tr:nth-child(even) {
	background: aliceblue;
  }
  
  /* 마우스 호버 스타일 */
  tbody tr:hover {
	background: pink;
  }
  
  /* 이미지 배경 */
  