/* 전체 페이지 스타일 */
body {
	font: bold 19px monospace, sans-serif;
	background-color: rgb(189, 197, 232);
  }
  
  /* 제목 스타일 */
  h3 {
	color: rgb(0, 0, 0);
  margin-left: 1%;
  }
  
  /* 수평선 스타일 */
  hr {
	border: 15px solid #7575e4;
  }
  
  /* 입력 폼 스타일 */
  input,
  button {
	color: #000000;
	font-size: 15px;
  }
  
  /* 링크 스타일 */
  a {
	font-family: monospace;
	font-size: 18px;
	color: #39343f;
  }
  
  /* 텍스트 입력 폼 스타일 */
  input[type="text"] {
	background-color: rgb(169, 175, 217);
  }
  
  /* 패스워드 입력 폼 스타일 */
  input[type="password"] {
	background-color: rgb(169, 175, 217);
  }
  /* 박스 스타일 */
  div.box {
	background: rgb(214, 201, 237);
	border-style: solid;
	border-color: rgb(3, 0, 7);
	border-radius: 35px;
	width: 400px;
	height: 200px;
	border-width: 3px;
	padding: 50px;
  font-size: 20px;
  }
  
  /* 박스 내부 스타일 */
  div.box-inner {
	border-color: rgb(0, 0, 0);
	border-style: none;
	margin: 10px;
	padding: 10px;
  }
  
  /* 테이블 스타일 */
  table {
	border-collapse: collapse;
  }
  
  /* 셀 스타일 */
  td,
  th {
	text-align: left;
	padding: 5px;
	height: 15px;
	width: 100px;
  }
  
  /* 테이블 헤더와 푸터 스타일 */
  thead,
  tfoot {
	background: darkgray;
	color: yellow;
  }
  
  /* 짝수 행 스타일 */
  tbody tr:nth-child(even) {
	background: aliceblue;
  }
  
  /* 마우스 호버 스타일 */
  tbody tr:hover {
	background: pink;
  }
  
  /* 이미지 배경 */
  


